<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <title th:text="#{app.title}" layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      th:if="${#httpServletRequest.getHeader('X-Devserver') != '1'}"
      th:href="@{/css/bundle.css}"
      rel="stylesheet"
    />
    <script th:src="@{/js/bundle.js}" defer></script>
  </head>
  <body>
    <header class="bg-gray-50">
      <div class="container px-4 md:px-6">
        <nav class="flex flex-wrap items-center justify-between py-2">
          <a th:href="@{/}" class="flex py-1.5 mr-4">
            <img
              th:src="@{/images/logo.png}"
              th:alt="#{app.title}"
              width="30"
              height="30"
              class="inline-block"
            />
            <span th:text="#{app.title}" class="text-xl pl-3" />
          </a>
        </nav>
      </div>
    </header>
    <main class="my-12">
      <div class="container px-4 md:px-6">
        <div layout:fragment="content" />
      </div>
    </main>
  </body>
</html>
