<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="list" id="main-list">
      <div class="flex flex-wrap mb-6">
        <h1 th:text="#{link.list.headline}" class="grow text-3xl md:text-4xl font-medium mb-2" />
      </div>
      <div th:if="${links.empty}" th:text="#{link.list.empty}" />
      <div th:if="${!links.empty}" class="overflow-x-auto">
        <div>
          <ul>
            <li th:each="link : ${links}" th:insert="link/link :: link(link)"></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
